.mission-div {
  background-color: white;
  margin-top: 40px;
  margin-left: 250px;
}

.team-div {
  background-color: white;
  margin-top: 40px;
  margin-left: 90px;
}

.div-height {
  height: 750px;
}
