html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.cover-img {
    background-size: 1920px 1080px;



}

.navbar-ensurant {
  background: black;
}

.full-height {
  height: 100%
}

.logo {
  width: 67%;
  margin-top: -15px;
  margin-left: -25px;
}

.content {
  background-color: #27233A;
  height: 100%;
  margin-top: 51px;
}

.homeText {
  margin-top: 6em;
  margin-left: 9em;
  font-weight: 600;
  font-size: 4em;
  color: #89DAFF;
  position: absolute;
}

.House {
  display: inline-block;
  margin: 19em 0em 0em 76em;
  position: absolute;
}

.Heart {
  display: inline-block;
  margin: 23.5em 0em 0em 76.9em;
  position: absolute;

}

.Hide {
  display: none;
}
