html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.insideDiv {
  height: 100%;
}

.inheritHeight {
  height: inherit;
}

.navbar-ensurant {
  background: black;
}

.nav-index {
  z-index: 1;
}

.full-height {
  height: 100%;
}

.logo {
  width: 67%;
  margin-top: -15px;
  margin-left: -25px;
}

.container-fluid {
  padding: 0px;
}
